<!DOCTYPE html>
<html ng-app="danger_zone">
  <head>
    <meta charset="utf-8">
    <title>Danger Zone</title>
    <!-- include angular, angular routes, materialize css library, and materialize icons.  jquery also included because required by materialize -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://use.typekit.net/hwi5qbr.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <!-- my local stylesheet -->
    <link rel="stylesheet" href="./style/style.css" media="screen" title="no title" charset="utf-8">
    <!-- import app.js, all factories, and all controllers -->
    <script type="text/javascript" src="./javascript/app.js"></script>
    <script type="text/javascript" src="./javascript/controllers/mapController.js"></script>
    <script type="text/javascript" src="./javascript/factories/mapFactory.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="./javascript/map.js"></script>

    <style type="text/css">

    </style>


  </head>
  <body ng-controller="mapController">
    <div id="wrapper">

      <div class="top_bar md-menu-origin md-whiteframe-4dp" layout="row">

        <span class="left" flex="90">
          <h1 class="head_title">Danger Zones</h1>

        </span>

        <span class="right" flex="10">
          <md-button class="md-raised md-primary" ng-click="what()">What is Danger Zones?</md-button>
          <!-- <md-button class="md-fab md-mini md-primary" aria-label="Send Email">
            <i class="material-icons">mail_outline</i>
          </md-button>
          <md-button class="md-fab md-mini md-primary" aria-label="Send Text">
            <i class="material-icons">phone_iphone</i>
          </md-button> -->
        </span>


      </div>
      <div class="filters">
        <div class="banner">
          Filter by countries under threat of:
        </div>
        <md-button class="filter_button md-accent md-raised" aria-label="terrorism filter" ng-click="terrorFilter()">
          <span class="md-accent"> </span>Terrorism <i class="fa fa-bomb"></i></span>
        </md-button>
        <md-button class="filter_button md-accent md-raised" aria-label="terrorism filter" ng-click="disasterFilter()">
          <span class="md-accent"> </span>Natural Disasters <i class="fa fa-bolt"></i></span>
        </md-button>
        <md-button class="filter_button md-accent md-raised" aria-label="terrorism filter" ng-click="kidnappingFilter()">
          <span class="md-accent"> </span>Kidnapping <i class="fa fa-child"></i></span>
        </md-button>



      </div>

      <md-button class="clear_button md-accent md-raised" aria-label="terrorism filter" ng-click="clearFilters()">
        <span class="md-accent md-hue-1"> </span>Clear Filters <i class="fa fa-eraser"></i></span>
      </md-button>

      <div ng-view="" class="main_screen">

      </div>

    </div>

  </body>
</html>
