* {
font-family: "jaf-bernina-sans-narrow", sans-serif;
margin: 0;
padding: 0;
}
#wrapper {
  position: relative;
}
.top_bar {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #373334;
  opacity: 0.75;
  width: 100%;
  padding: 10px 30px;
  font-size: 1.8em;
}
.top_bar h1 {
  background: -webkit-linear-gradient(#F44336, #B71C1C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.head_title {
  /*width: 79%;*/
  font-family: "swingdancer";
  color: #F44336;
  display: inline-block;
  vertical-align: middle;
  padding-right: 20px;
}
.right {
  margin-top: 20px;
}
.banner {
  background-color: #039BE5;
  color: #fff;
  padding: 20px 10px;
}
.filters {
  position: fixed;
  top: 40vh;
  z-index: 99;
  left: 20px;
  border: 1px solid #039BE5;
  opacity: 0.75;
  width: 18%;
}
.filter_button {
  margin: 10px 18%;
  width: 60%
}
.clear_button {
  position: fixed;
  bottom: 3vh;
  z-index: 99;
  left: 5%;
  opacity: 0.65;
}
.container {
  padding: 0 50px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#map {
  height: 100vh;
}
.md-button.md-fab.md-mini {
    line-height: 4rem;
    width: 4rem;
    height: 4rem;
}
.material-icons {
  padding-top: 20px;
}
.message, .about {
  position: fixed;
  top: 100px;
  left: 10%;
  opacity: 0.7;
  z-index: 99;
  width: 80%;
  height: 60vh;
  margin-top: 50px;
}
.news_box h3, .alert_head h3 {
  text-decoration: underline;
  margin-bottom: 10px;
}
.news_box {
  border-bottom: 1px solid #F44336;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.news a {
  color: #0288D1;
}
.expand {
  margin-top: 10px;
  font-weight: bold;
}
md-content {
 padding: 10px 50px;
}
ul {
  list-style-image: url(../imgs/ic_error_outline_black_24dp_1x.png);
}
a {
  text-decoration: none;
  color: #F44336;
}
a:hover {
  color: #B71C1C;
  font-style: italic;
}
.alert_text {
  text-align: justify;
}
.alert-head h3 {
  text-align: center;
}
.about .alert_text {
  padding-top: 20px;
}
.about {
  width: 40%;
  left: 30%;
}
.DZs_summary {
  list-style: none;
}
.yellow {
  background-color: #FFEE58;
}
.yellow400 {
  color: #FFEE58;
}
.red {
  background-color: #F44336;
}
.red500 {
  color: #F44336;
}
.blue700 {
  color: #0288D1;
}
.lightgreen700 {
  color: #689F38;
}
.lime700 {
  color: #AFB42B;
  font-size: 3em;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
